/*!
 * font.less
 *
 * Copyright 2016 Achraf Chouk
 * Achraf Chouk (https://github.com/crewstyle)
 */.dionysos-field.font{position:relative}.dionysos-field.font input.large-text{border-radius:0;margin:0;padding-right:40px;width:100%}.dionysos-field.font .zeus-cols .zeus-col .wp-picker-input-wrap label{display:inline-block}.dionysos-field.font .link-to-original{box-sizing:border-box;padding:10px}.dionysos-field.font .link-to-original p{color:#000;font-size:16px;font-style:normal;letter-spacing:0;line-height:1.8}